/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para el header */
#header {
    background-color: #333; /* Usar variable si es necesario */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
}

#header h1 {
    margin: 0;
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.nav-mobile {
    display: none;
    list-style: none;
}

.nav-mobile li {
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #aaa;
}

/* Estilos para secciones */
.section {
    padding: 50px 0;
}

/* Estilos para el footer */
#footer {
    background-color: #333; /* Usar variable si es necesario */
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
